.CodeMirror, .CodeMirror-scroll {
  background-color: #0F091F;
  color: #8765D5;
}

.CodeMirror-focused .CodeMirror-activeline-background {
  background: #2E1A5C;
}

.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background {
  box-shadow: inset 15px 0 0 0 #DDD;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
  background: rgba(0,0,0,0.2);
  color: #FFF;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
  color: #767676;
}

.cm-atom,
.cm-string,
.cm-string-2,
.cm-hr {
  color: #FF00B9;
}

.cm-number,
.cm-attribute,
.cm-plus {
  color: #C3B2EA;
}

.cm-def,
.cm-property {
  color: #FF60D3;
}

.cm-variable,
.cm-variable-2,
.cm-variable-3,
.cm-operator,
.cm-meta,
.cm-bracket {
  color: #8765D5;
}

.cm-comment {
  color: #767676;
}

.cm-minus {
  color: #FF00B9;
}

.cm-header {
  color: #D85896;
}

.cm-link {
  color: #B77FDB;
  text-decoration: none;
}

.cm-rangeinfo {
  color: #CD03FF;
}
.cm-keyword,
.cm-qualifier,
.cm-builtin,
.cm-tag,
.cm-quote {
  color: #A781FF;
  font-weight: bold;
}

.cm-error {
  color: #4F03FF;
}

.CodeMirror-searching {
  background-color: #D3CD69;
}

.CodeMirror-searching.searching-current-match {
  background-color: #F6A644;
}

.CodeMirror-cursor {
  border-left: 1px solid #C5C8C6 !important;
}

.CodeMirror-gutters {
  background-color: #0F091F;
  border-right: none;
}

.CodeMirror-linenumber {
  color: #767676;
}

.CodeMirror .CodeMirror-selected {
  background: #333F48;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #4F03FF;
}

.CodeMirror-matchingbracket,
.CodeMirror-matchingtag {
  background-color: #FF62D4;
  color: #8765D5 !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
  border-left: none !important;
  border-bottom: 1px solid #FFF;
}

.CodeMirror .CodeMirror {
  background: transparent;
}

.CodeMirror .CodeMirror .CodeMirror-gutters {
  background: transparent;
  border-right: none;
}

.CodeMirror .CodeMirror .CodeMirror-activeline-background {
  background: transparent;
}

.CodeMirror .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt {
  background: transparent;
  color: #767676;
}

.CodeMirror .CodeMirror-focused .CodeMirror-activeline-background {
  background: #2E1A5C;
}

.CodeMirror .CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
  background: rgba(0,0,0,0.2);
  color: #FFF;
}

.CodeMirror-foldgutter-open:after {
  color: #666;
}

.CodeMirror-foldgutter-folded:after {
  color: #AAA;
}

.CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #888;
}

.CodeMirror-foldmarker {
  border-color: #0F091F;
  color: #CCC;
  background-color: #444;
}

.image-view,
.not-editor {
  background-color: #0F091F;
}

.view-pane .image-view {
  color: #8765D5;
}
